.root {
  margin: 0.75em 0;
  padding-left: 1.5em;
}

.item {
  margin-bottom: 0.35em;
  line-height: 1.6;

  &:last-child {
    margin-bottom: 0;
  }
}

.checklist {
  list-style: none;
  padding-left: 0;
}
